{% extends "home.html" %}

{% block imports %}
<link href="/static/css/set.css" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>Create set</h1>
<form action="/lessons/create" method="POST" enctype=multipart/form-data>
    <label for="name"><p>Lesson Name:</p></label><br>
    <input type="text" id="name" name="name"><br>
    <label for="desc"><p>Lesson Description:</p></label><br>
    <textarea id="desc" name="desc"></textarea>
    <label for="content"><p>Content: Use an app like Notepad to create the questions and save it as a txt<br><a href="/static/example.txt">Example</a></p></label><br>
    <input type="file" id="content" name="content"><br>
    <input type="submit" value="Submit">
</form> 
{% endblock %}