{% extends "main.html" %}

{% block imports %}
<link href="/static/css/index.css" rel="stylesheet">
{% endblock %}

{% block content %} 
                <h1>Hello, {{user.name}}</h1>
                <h2>{{date}}</h2>
                <div class="container">
                    {% for suggestion in suggestions %}
                    <div class="item"><h3><a href="{{suggestion.link}}">{{suggestion.title}}</a><br></h3><p>{{suggestion.desc}}</p></div>
                    {% endfor %}
                </div>
{% endblock %} 