{% extends "main.html" %}
{% block imports %}
<link href="/static/css/sets.css" rel="stylesheet">
<script src="/static/js/sets.js"></script>
{% endblock %}

{% block content %}
<h1>{{lesson.name}}</h1>
<h2>By {{lesson.author}}</h2>
{% if starred==True %}
<button type="button" onclick="unstarlesson('{{lesson.id}}');alert('Remove!');location.reload()">Remove</button>
{% else %}
<button type="button" onclick="starlesson('{{lesson.id}}');alert('Starred!');location.reload()">Star</button>
{% endif %}
{% if lesson.owned == True %}
<button type="button" onclick="dellesson('{{lesson.id}}');alert('Deleted!');location.href = '/lessons'">Delete</button>
{% endif %}
<button type="button" onclick="location.href='/learn/{{lesson.id}}'">Learn</button><br>
<p>{{lesson.desc}}</p>
{% endblock %}