{% extends "home.html" %}

{% block imports %}
<link href="/static/css/set.css" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>Create Set</h1>
<label>Name</label><br>
<input id="setName" type="text"></input><br>
<br><br>
<button onclick="new_term()">New term</button>

<div class="tterm" hidden>
      <!-- Term -->
      <br><br>
      <div id="term">
        <label>Term</label><br>
        <input type="text" id="term"><br>
        <label>Definition</label><br>
        <input type="text" id="definition"><br>
    </div>

</div>

<div class="question term">
      <!-- Term -->
      <br><br>
      <div id="term">
        <label>Term</label><br>
        <input type="text" id="term"><br>
        <label>Definition</label><br>
        <input type="text" id="definition"><br>
    </div>

</div><br><br>
<button onclick="submit()">Create Lesson</button>
<script defer>
  let current = 1;
  
  function save(obj) {
    let question = {};
    let term = obj.children.term;
    question.term = term.children.term.value;
    question.definition = term.children.definition.value;
    return question
  };
  function new_term() {
    let newq = null;
    newq = document.getElementsByClassName("tterm")[0].cloneNode(true);
    newq.classList.remove("tterm");
    newq.classList.add("term");
    newq.classList.add("question");
    newq.removeAttribute("hidden");
    document.getElementsByClassName("question")[current-1].after(newq);
    current = current + 1;
  };
  function submit() {
    let questionshtml = Array.from(document.getElementsByClassName("question"));
    let obj = {
      "content":[]
    };
    questionshtml.forEach(item =>
      obj.content.push(save(item))
    );
    let options = {
      "body":JSON.stringify(obj),
      "method":"POST",
      "headers":{
        "name":document.getElementById("setName").value
      }
    };
    fetch(window.location.origin+"/api/sets/create", options);
    location.href = "/sets"
  }
  </script>
{% endblock %}