{% extends "main.html" %}
{% block imports %}
<link href="/static/css/sets.css" rel="stylesheet">
<script src="/static/js/sets.js"></script>
{% endblock %}

{% block content %}
<h1>{{set.name}}</h1>
<h2>By {{set.author}}</h2>
{% if starred==True %}
<button type="button" onclick="unstarlesson('{{set.id}}');alert('Remove!');location.reload()">Remove</button>
{% else %}
<button type="button" onclick="starlesson('{{set.id}}');alert('Starred!');location.reload()">Star</button>
{% endif %}
<button type="button" onclick="location.href='/play/{{set.id}}'">Play</button><br>
<table>
    <tr>
        <th><p>Question</p></th>
        <th><p>Answer</p></th>
    </tr>
{% for question in set.content %}
    <tr>
        <td><p>{{question["term"]}}</p></td>
        <td><p>{{question["definition"]}}</p></td>
    </tr>
{% endfor %}
</table>
{% endblock %}