{% extends "main.html" %}
{% block imports %}
<link href="/static/css/sets.css" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>Sets</h1>
<p>WIP</p>
<div class="container">
    <div class="item"><h3><a href="/sets/item1">Item 1</a></h3><br><p>By: Lawson <br>Last played: Today</p></div>
    <div class="item"><p>Item 2</p></div>
    <div class="item"><p>Item 3</p></div>
    <div class="item"><p>Item 4</p></div>
    <div class="item"><p>Item 5</p></div>
    <div class="item"><p>Item 6</p></div>
    <div class="item"><p>Item 7</p></div>
    <div class="item"><p>Item 8</p></div>
</div>
{% endblock %}